/* Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* Variables */

/* Colors */
:root {
    --base-text: #1f2937;
    --dark-bg: #1f2937;
    --mid-bg: #e5e7eb;
    --light-bg: #ffffff;
    --main-light-text: #f9faf8;
    --secondary-light-text: #e5e7eb;
    --action: #3882f6;
}
/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
          --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
          --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
          --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
          --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
          --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
          --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
          --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
    }
  }
  /* For browsers that don't support clamp */
  @supports not (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
          --fs-sm: 0.8rem;
          --fs-base: 1rem;
          --fs-md: 1.25rem;
          --fs-lg: 1.56rem;
          --fs-xl: 1.95rem;
          --fs-xxl: 2.44rem;
          --fs-xxxl: 3.05rem;
    }
    @media screen and (min-width: 1280px) {
      :root {
              --fs-sm: 0.89rem;
              --fs-base: 1.19rem;
              --fs-md: 1.58rem;
              --fs-lg: 2.11rem;
              --fs-xl: 2.81rem;
              --fs-xxl: 3.75rem;
              --fs-xxxl: 5rem;
      }
    }
  }

/* Fonts */

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--base-text);
}



/*Section styles*/

.section.dark-bg {
    background-color: var(--dark-bg);
    color: var(--main-light-text);
}

.section.light-bg {
    background-color: var(--mid-bg);
    color: var(--base-text);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

#hero, #products, #quote, #cta, #footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*Buttons*/

.button {
    display: inline-block;
    padding: .5rem 1.5rem;
    background-color: var(--action);
    color: var(--main-light-text);
    text-decoration: none;
    border-radius: .5rem;
}

.button.light-ghost{
    color: var(--main-light-text);
    border: 2px solid var(--main-light-text);
}

/* Navbar */
.logo{
    font-size: var(--fs-md);
    font-weight: bold;
}

#navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation ul.navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar li a {
    display: block;
    padding: 1rem 2rem;
    color: #e5e7eb;
    text-decoration: none;
}

/* Hero */

#hero .container{
    display: flex;
    gap: 3rem;
    align-items: center;
}

#hero h1{
    font-size: var(--fs-xxl);
    line-height: 1;
}

/* Products */

#products .container{
    text-align: center;
}

#products h1{
    margin-bottom: 4rem;
}

#products ul.product-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul.product-list .image{
    min-width: 25%;
    min-height: 250px;
    border: 3px solid var(--action);
    border-radius: 2rem;
    margin-bottom: 1rem;
}

/* Quote */

#quote .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#quote blockquote{
    font-size: var(--fs-xl);
    font-weight: 100;
    font-style: italic;
}

#quote figcaption{
    font-weight: bold;
    text-align: right;
}

/* CTA */

#cta .container{
    background-color: var(--action);
    color: var(--main-light-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

/* Footer */

#footer{
    text-align: center;
}